In [1]:
import tohu
from tohu.generators import *
from utils import print_generated_sequence

In [2]:
# NBVAL_IGNORE_OUTPUT
tohu.__version__

'v0.5.1+2.g4483022.dirty'

This notebook contains high-level tests for `tohu`'s "standard" generators.

## Class `Integer`

Generates random integers in the range [`lo`, `hi`].

In [3]:
g = Integer(lo=100, hi=200)

In [4]:
g.reset(seed=12345); print_generated_sequence(g, num=15)
g.reset(seed=9999); print_generated_sequence(g, num=15)

Generated sequence: 153, 193, 101, 138, 147, 124, 134, 172, 155, 120, 147, 115, 155, 133, 171
Generated sequence: 115, 120, 196, 109, 116, 124, 136, 124, 187, 199, 176, 174, 138, 180, 170

In [5]:
some_integers = g.generate(5, seed=99999)

In [6]:
for x in some_integers:
    print(x)

115
139
164
183
194

## Class `Float`

Generates random floating point numbers in the range [`lo`, `hi`].

In [7]:
g = Float(lo=2.71828, hi=3.14159)

In [8]:
g.reset(seed=12345); print_generated_sequence(g, num=4)
g.reset(seed=9999); print_generated_sequence(g, num=4)

Generated sequence: 2.8946393582471686, 2.7225847111228716, 3.0675981674322017, 2.8446972371045396
Generated sequence: 3.0716413078479454, 2.785006097591815, 2.750284761944705, 3.0530348312992466

## Class Constant

Generates a sequence repeating the same element indefinitely.

In [9]:
g = Constant("Foobar"); print_generated_sequence(g, num=10)
g = Constant(42); print_generated_sequence(g, num=20)

Generated sequence: Foobar, Foobar, Foobar, Foobar, Foobar, Foobar, Foobar, Foobar, Foobar, Foobar
Generated sequence: 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42

## Class `Sequential`

Generates a sequence of sequentially numbered strings with a given prefix.

In [10]:
g = Sequential(prefix='Foo_', digits=3)

Calling `reset()` on the generator makes the numbering start from 1 again.

In [11]:
g.reset()
print_generated_sequence(g, num=5)
print_generated_sequence(g, num=5)
print("-----------------------------")
g.reset()
print_generated_sequence(g, num=5)

Generated sequence: Foo_001, Foo_002, Foo_003, Foo_004, Foo_005
Generated sequence: Foo_006, Foo_007, Foo_008, Foo_009, Foo_010
-----------------------------
Generated sequence: Foo_001, Foo_002, Foo_003, Foo_004, Foo_005

**Note**: the method `Sequential.reset()` supports the `seed` argument for consistency with other generators, but its value is ignored - the generator is simply reset to its initial value. This is illustrated here:

In [12]:
g.reset(seed=12345); print_generated_sequence(g, num=5)
g.reset(seed=9999); print_generated_sequence(g, num=5)

Generated sequence: Foo_001, Foo_002, Foo_003, Foo_004, Foo_005
Generated sequence: Foo_001, Foo_002, Foo_003, Foo_004, Foo_005

If a new `Sequential` generator is created from an existing one via the `_spawn()` method then its count will start again from 1.

In [13]:
g1 = Sequential(prefix="Quux_", digits=2)
g1.reset(seed=12345)
print_generated_sequence(g1, num=5)

g2 = g1._spawn()
print_generated_sequence(g1, num=5)
print_generated_sequence(g2, num=5)

Generated sequence: Quux_01, Quux_02, Quux_03, Quux_04, Quux_05
Generated sequence: Quux_06, Quux_07, Quux_08, Quux_09, Quux_10
Generated sequence: Quux_01, Quux_02, Quux_03, Quux_04, Quux_05

## Class `SelectOne`

In [14]:
g = SelectOne(values=['foobar', 42, 'quux', True, 1.2345])

In [15]:
g.reset(seed=12345); print_generated_sequence(g, num=15)
g.reset(seed=9999); print_generated_sequence(g, num=15)

Generated sequence: True, foobar, quux, quux, 42, quux, 1.2345, True, 42, quux, foobar, True, quux, 1.2345, 42
Generated sequence: foobar, 42, foobar, 42, 42, quux, 42, 1.2345, 1.2345, quux, 1.2345, 42, foobar, 1.2345, 1.2345

## Class `SelectMultiple`

In [16]:
g = SelectMultiple(values=['foobar', 42, 'quux', True, 1.2345], n=3)

In [17]:
g.reset(seed=12345); print_generated_sequence(g, num=4)
g.reset(seed=99999); print_generated_sequence(g, num=4)

Generated sequence: (True, 'foobar', 42), (True, True, True), ('quux', True, 1.2345), (True, 'quux', True)
Generated sequence: (42, 42, 'quux'), (42, 1.2345, 'quux'), (1.2345, 'quux', 'foobar'), ('quux', 42, 1.2345)

## Class `CharString`

In [18]:
chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789,.?!"

In [19]:
g = CharString(length=15, chars=chars)
g.reset(seed=12345); print_generated_sequence(g, num=5)
g.reset(seed=9999); print_generated_sequence(g, num=5)

Generated sequence: 1bMVyI3uVp3HwxT, l0?vsAjyRPd6Rd!, 1aauwKm1nxWDQfD, p.BxG3qfvMbtDSR, uXPbgh4kXwbVB!p
Generated sequence: pujqyKyMChk84iL, AxKuZa,3ExHdWdo, 0OGq9xgbQ?6N9wA, 2zKKBvLLjZsoek5, 9oKsBeUAj3gnULf

## Class `DigitString`

In [20]:
g = DigitString(length=15)
g.reset(seed=12345); print_generated_sequence(g, num=5)
g.reset(seed=9999); print_generated_sequence(g, num=5)

Generated sequence: 604534962516482, 982518698223135, 507508600292416, 192638950317382, 496820240235852
Generated sequence: 121234399483089, 197719432949260, 798639929408608, 165427208059874, 723638443244916

## Class `HashDigest`

In [21]:
g = HashDigest(length=8)
g.reset(seed=12345); print_generated_sequence(g, num=9)
g.reset(seed=9999); print_generated_sequence(g, num=9)

Generated sequence: D09B68D5, B3D855B2, D54626AA, 0EA0D005, 593D35C7, A173F658, D4159047, BA5CA011, E2C50B63
Generated sequence: 35246969, 712FE296, 595C0FD7, 580C03DA, 84F510AE, 9F56D699, 65992C43, 12EF3946, 1B62D13B

In [22]:
g = HashDigest(length=20)
g.reset(seed=12345); print_generated_sequence(g, num=4)
g.reset(seed=9999); print_generated_sequence(g, num=4)

Generated sequence: D09B68D5B3D855B2D546, 26AA0EA0D005593D35C7, A173F658D4159047BA5C, A011E2C50B63F10FAD6B
Generated sequence: 35246969712FE296595C, 0FD7580C03DA84F510AE, 9F56D69965992C4312EF, 39461B62D13B91A9474C

## Class `Geolocation`

In [23]:
g = GeolocationPair()
g.reset(seed=12345); print_generated_sequence(g, num=5, sep='\n')

Generated sequence:
(-30.016845883677178, -15.008422941838589)
(-176.3390989954554, -88.1695494977277)
(117.07434333134756, 58.53717166567378)
(-72.48965212814659, -36.244826064073294)
(-47.37179178414874, -23.68589589207437)

## Class `Timestamp`

In [24]:
g = Timestamp(start='2016-02-14', end='2016-02-18')

In [25]:
g.reset(seed=12345); print_generated_sequence(g, num=5, sep='\n')

Generated sequence:
2016-02-16 12:40:28
2016-02-18 10:42:18
2016-02-14 01:28:51
2016-02-18 23:26:47
2016-02-18 20:55:23

In [26]:
g = Timestamp(start='1998-03-01 00:02:00', end='1998-03-01 00:02:15')

In [27]:
g.reset(seed=99999); print_generated_sequence(g, num=10, sep='\n')

Generated sequence:
1998-03-01 00:02:03
1998-03-01 00:02:09
1998-03-01 00:02:07
1998-03-01 00:02:11
1998-03-01 00:02:13
1998-03-01 00:02:06
1998-03-01 00:02:08
1998-03-01 00:02:12
1998-03-01 00:02:06
1998-03-01 00:02:01

## Using tohu generators as iterators

Each `tohu` generator can also be used as a Python iterator producing an (infinite) series of elements.

In [28]:
int_generator = Integer(lo=100, hi=500, seed=99999)

for i, x in enumerate(int_generator):
    if i > 20:
        break
    print(x, end=" ")

161 258 356 432 478 221 281 311 203 229 307 470 410 410 367 203 130 455 270 370 296